<path_to_local_repo>

<head>
  <title>
    Festival No.16
  
  </title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
    }

    .header {
        background-color: White;
        padding: 20px;
        text-align: center;
      }


    .topnav {
        overflow: hidden;
        background-color: Green;
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .column {
        float: left;
        width: 50%;
        padding: 15px;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

  </style>
</head>


<body>

  <div class="header">
    
    <h1>
      Festival No.16
    </h1>
    
    <p>
      St Ives. 16-18th July 2020.
    </p>
  </div>

<div class="topnav">
  <a href=".index.html">Home</a>
  <a href="http://www.google.com">About Us</a>
  <a href="http://www.google.com">Register Your Interest</a>
</div>

<div class="row">
  <div class="column">
    <h2>
    Welcome
    </h2>
    
    <p>
    <img src="https://media.timeout.com/images/101570805/630/472/image.jpg" alt="Picture of Festival"></img>
    </p>
  </div>
  
  <div class="column">
    <h2>
    Booking
    </h2>
    
    <p>
    We open for booking on Jan 1st 2020.
    </p>
    
    <form>
      <p>Register your interest. Enter your email.</p>
      <input type="text">
      <input type="submit">
    </form>
  
  </div>
  
  
</div>

</body>